.transaction-table td,
.transaction-table th {
  color: white;
}
.transaction-table {
  width: 100%;
}
.cgb-logo {
  width: 60px;
}
.header p {
  color: white;
}
.transaction-footer p {
  color: white;
}
