.permit-container {
  border: 1px solid black;
  width: 327px;
  height: 491.339px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  margin: 20px;
}
/*header*/
.permit-logo {
  width: 60px;
  height: 60px;
  position: absolute;
}
.permit-header-text {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  gap: 0px;
  width: 245px;
  margin-left: 61px;
  font-family: "Cambria, serif";
}
.permit-header-text > p {
  padding: 0px;
  margin: 0px;
  line-height: 10px;
  color: #154172;
}
.permit-header-upper-section {
  display: flex;
  position: relative;
}
.permit-header {
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.permit-header-title {
  font-size: 12px;
  margin-top: 2px;
  font-weight: bold;
  color: #368be0;
  text-align: center;
}

.permit-headerline {
  width: 300px !important;
  margin-left: -40px !important;
}
/*body*/
.permit-body {
  width: 100%;
}
.top {
  margin-top: 7px;
  margin-left: 4px;
}
.body-reference-number {
  text-align: end;
  font-size: 10px;
  margin-right: 15px;
  margin-top: 5px;
}
.user-details {
  font-size: 10px;
}
.user-details-birth {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.user-name {
  font-size: 12px;
}
.idpicture-box {
  border: 1px solid black;
  height: 4.5cm;
  width: 3.5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.picture-section {
  margin: 4px;
  display: flex;
  justify-content: space-between;
}
.signatories {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  height: 100px;
  justify-content: end;
  align-items: center;
  line-height: 8px;
}
.mayor {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mayor-name {
  font-weight: bold;
  line-height: 5px;
  text-decoration: underline;
}
.authority {
  font-size: 7px;
}
.signatories-container {
  padding-top: 15px;
}
.signatories-name {
  font-weight: bold;
  text-decoration: underline;
}
.note {
  margin-top: 10px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  color: #368be0;
}
/* .signatories-container {
  width: 100px;
} */
/*Footer*/
.or-section {
  display: flex;
  flex-direction: column;
}
.butuan-on-logo {
  width: 50px;
  height: 20px;
}

.permit-footer-upper {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  margin-right: 5px;
  align-items: end;
}
.logo-section {
  display: flex;
  flex-direction: column;
}
.footer-line {
  width: 100%;
}
.permit-footer {
  margin-top: auto;
}
/*resusable*/
